{% extends 'base.html' %}

{% block head %}
    <title>High Scores</title>
{% endblock %}

{% block nav %}
        <li class="nav-item">
          <a class="nav-link" href="/quiz/home/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/quiz/highscores/">High Scores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quiz/create_get/">Create Tournament</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quiz/login/">Logout</a>
        </li>
{% endblock %}

{% block jumbo %}
    <h1 class="display-3">High Scores!</h1>
    <hr>
    <p class="lead">Below is a table of all the high scores from all previous tournaments.</p>
{% endblock %}

{% block body %}

<div class="container body">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tournament name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Category</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Username</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
      {% for a in list %}
        <tr>
          <th scope="row">Name</th>
          <td>Start</td>
          <td>End</td>
          <td>Category</td>
          <td>Difficulty</td>
          <td>User</td>
          <td>10/10</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>

{% endblock %}
