{% extends 'base.html' %}

{% block head %}
    <title>Sign Up</title>
{% endblock %}

{% block nav %}
    <li class="nav-item">
      <a class="nav-link" href="/quiz/login/">Login
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/quiz/signup/">Sign Up</a>
    </li>
{% endblock %}

{% block jumbo %}
    <h1 class="display-3">Sign Up!</h1>
    <hr>
    <p class="lead">Use the form below to sign up to be able to compete in tournaments and be eligible for the high scores.</p>
{% endblock %}
